# main()
snippet main
	int 
	main(int argc, char *argv[])
	{
		${1}
		return 0;
	}

snippet ifdef
	#ifndef ${1:__`toupper(expand("%:t:r"))`__}
	#define $1
	
	${2}
	
	#endif /* $1 */

snippet ?
	${1:/* condition */} ? ${2:a} : ${3:b}

snippet do
	do {
		${2:/* code */}
	} while (${1:/* condition */});

snippet class
	typedef struct _${1:Object} $1;
	struct _$1
	{
		$2
	};
