snippet main
	int
	main(int argc, char *argv[])
	{
		${1}
		return 0;
	}
snippet ifdef
	#ifndef ${1:`toupper(expand("%:t:r"))`_H}
	#define $1

	${2}

	#endif
snippet ?
	${1:/* condition */} ? ${2:a} : ${3:b}
snippet do
	do {
		${2:/* code */}
	} while (${1:/* condition */});
snippet #i
	#include "${1}"${2}
snippet #in
	#include <${1}>${2}
