snippet block
	{% block ${1} %} ${2} {% endblock %} ${3}

snippet include
	{% include "${1}" %} ${2}

snippet for
	{% for ${1} %} ${2} {% endfor %} ${3}
	
snippet if
	{% if ${1} %} ${2} {% endif %} ${3}

snippet ifequal
	{% ifequal ${1} %} ${2} {% endifequal %} ${3}

snippet {{
	{{ ${1} }} ${2}
