snippet #!
	#!/usr/bin/env python
	# -*- coding: `&enc`

snippet #enc
	# -*- coding: `&enc`
	

snippet ifname
	def main():
		${1:pass}
	
	if __name__ == '__main__':
		main()

snippet trace
	import ipdb; ipdb.set_trace()
